// Color variables
$bg-color : #ff4c68;

// Fonts variables
$montserrat-fonts: "Montserrat";
$montserrat-light-fonts: "Montserrat-Light";
$montserrat-bold-fonts: "Montserrat-Bold";
$ubuntu: "ubuntu";
$ubuntu-bold: "ubuntu-bold";
