// Color variables
$bg-color : #ff4c68;
$accent-color: #ef8172;
$light-para-color: #8f8f8f;

// Fonts variables
$montserrat-fonts: "Montserrat";
$montserrat-light-fonts: "Montserrat-Light";
$montserrat-bold-fonts: "Montserrat-Bold";
$ubuntu: "ubuntu";
$ubuntu-bold: "ubuntu-bold";
