@import "mixin";
@import "variables";

// styling code here

// Whole body fonts
body{
    font-family: $montserrat-fonts;
}

// Styling the first section
.container-fluid{
    padding: 3% 13%;
}

// title section of the website
#title{
    background-color: $bg-color;
    color: #fff;

    // download buttons (childern)
    .download-button{
        margin: 5% 3% 5% 0;
    }

    // Image of the title
    .title-image{
        width: 60%;
        margin-left: 20%;
        transform: rotate(20deg);
        transition: 0.9s;
        
    }
}

#logo_heading{
    @include logoHeading(('Rubik Bubbles',cursive));
}


/* Navbar styling */
// nav bar
.navbar{
    padding: 0 0 4.5rem;


    // Navbar brand
    .navbar-brand {
        font-size: 3rem;
        font-family: "Ubuntu";
    }

    // Navbar item
    .nav-item{
        padding: 0 18px;
        font-size: 1.3rem;
        font-family: $montserrat-light-fonts;
    }
}


// features section 
#features{
    padding: 7% 15%;


    // feature boxes or divs
    .feature-div{
        padding: 4rem;
        text-align: center;
    }
    // headings inside features
    h3{
        font-weight: bold;
        font-family: $montserrat-fonts;

    }

    // paragraphs inside
    p{
        color: $light-para-color;
    }

    // Icons inside the features sections
    .fa-4x{

        // on hover
        &:hover{
            color: $bg-color;
        }
        color: $accent-color;
        margin-bottom: 2rem;
    }

}


// Testimonials section styling
#testimonials{
    text-align: center;
    background-color: $accent-color;
    color: white;
    
    
    // carousel item styling
    .carousel-item{        
        padding: 5% 15%;
    }

    // Inside headings
    h2{
        font-size: 3rem;
        font-family: $montserrat-bold-fonts;
        font-weight: bold;
        line-height: 1.5;
    }

    img{
        border-radius: 100%;
        margin: 36px;
        width: 36%;
    }
}

// Press section styling
#press{
    background-color: $accent-color;
    text-align: center;
    padding-bottom: 3%;

    img{
        width: 16%;
        margin: 20px 30px 50px;
    }
}